<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uplan.miyao">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".UPLANApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ZRXAppTheme"
        tools:replace="android:allowBackup,android:theme">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.activity.LoginActivity" />
        <activity
            android:name=".ui.home.view.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.setting.view.activity.SettingActivity" />
        <activity android:name=".ui.setting.view.activity.UpdatePasswordActivity" />
        <activity android:name=".ui.worksearch.view.activity.WorkSearchActivity" />
        <activity android:name=".ui.bigdata.activity.BigDataSubmitActivity" />
        <activity android:name=".ui.bigdata.activity.BigDataQueryActivity" />
        <activity android:name=".ui.order.view.activity.OrderDetailsActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.uplan.miyao.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".ui.order.view.activity.OrderGroupActivity" />
        <activity android:name=".ui.order.view.activity.TaskActivity" />
        <activity android:name=".ui.pendingdata.view.activity.PendingDataEnterActivity" />
        <activity android:name=".ui.pendingdata.view.activity.PendingDataCarActivity" />
        <activity android:name=".widget.SelectActivity" />
        <activity android:name=".ui.pendingdata.view.activity.BorrowerInfoEnterActivity" />
        <activity android:name=".ui.video.PlayActivity" />
        <activity android:name=".ui.pendingdata.view.activity.GuarantorInfoActivity" />
        <activity android:name=".ui.pendingdata.view.activity.SupplementActivity" />

        <meta-data
            android:name="com.uplan.miyao.app.net.glide.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".ui.loan.view.activity.LoanEnterActivity" />
        <activity android:name=".ui.car.view.activity.CarEnterActivity" />
        <activity android:name=".ui.contract.view.activity.ContractEnterActivity" />
        <activity android:name=".ui.pendingdata.view.activity.SelectCarDealerActivity" />
        <activity android:name=".ui.bigdata.activity.BigDataReturnActivity" />
        <activity android:name=".ui.bigdata.activity.BigDataAddGuarantorActivity" />
        <activity android:name=".ui.pendingdata.view.activity.CommentsActivity" />
        <activity android:name=".base.web.CommonWebActivity" />
        <activity android:name=".ui.account.AccountActivity" />
        <activity android:name=".ui.discover.DiscoverActivity" />
        <activity android:name=".ui.financial.FinancialActivity" />
        <activity android:name=".ui.survey.SurveyActivity"></activity>
    </application>

</manifest>