<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uplan.miyao">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.UPLANApplication"
        android:allowBackup="false"
        android:icon="@drawable/miyao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:theme">
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.view.activity.MainActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.uplan.miyao.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>


        <meta-data
            android:name="com.uplan.miyao.app.net.glide.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".ui.financial.view.activity.FinancialWebActivity2" />
        <activity android:name=".ui.account.view.activity.VIPEquityActivity" />
        <activity android:name=".ui.account.view.activity.RiskEvaluationActivity" />
        <activity android:name=".ui.account.view.activity.HelpCenterActivity" />
        <activity android:name=".ui.login.view.activity.LoginActivity" />
        <activity android:name=".ui.regist.view.activity.RegistActivity" />
        <activity android:name=".ui.financial.view.activity.SafeActivity" />
        <activity android:name=".ui.financial.view.activity.TeamInfoActivity" />
        <activity android:name=".ui.financial.view.activity.FinancialActivity" />
        <activity android:name=".ui.financial.view.activity.FinancialWebActivity" />
        <activity android:name=".ui.account.view.activity.HoldActivity" />
        <activity android:name=".ui.account.view.activity.RecordActivity" />
        <activity android:name=".ui.account.view.activity.RedeemActivity" />
        <activity android:name=".ui.account.view.activity.RemindActivity" />
        <activity android:name=".ui.survey.view.SurveyActivity" />
    </application>

</manifest>